<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div  layout:fragment="contents" class="social d-flex justify-content-center align-items-center flex-column">
    <div class="new-post d-flex">
        <div class="image-box col-8 p-0">
            <header class=""></header>
            <div></div>
        </div>
        <div class="contents-box col-4 p-0">
            <header class=""></header>
            <div class="contents  "></div>
            <div></div>
        </div>


    </div>
</div>

</html>