#wrap {
    width: 1440px;
    margin: 0 auto;
    background-color: black;
    overflow: hidden;
    position: relative;
}

header {
    height: 175px;
}

.home {
    height: 849px;
    border-start-start-radius: 60px;
    border-start-end-radius: 60px;
    background-color: #ffffff;
    display: flex;

}

.main-menu {
    height: 680px;
}

.sidebar {
    height: 849px;
    width: 280px;
    border-right: 3px solid #9D9D9D;
    display: flex;
}

.black {
    color: #000000;
}

.menu-icon {
    margin-right: 12px;
}

.nav-link {
    font-size: 32px;
}

.user-profile {
    margin-top: 290px;

}

.logout {
    padding-left: 160px;
    font-size: 20px;
}
.social {
    flex-grow: 1;
    height: 849px;
}

.posting {
    height: 650px;
    width: 450px;
    background-color: black;
    border-radius: 15px;
}

.posting > .post-header {
    height: 70px;
    border-bottom: 1px solid #ffffff;
}

.id-text {
    color: #ffffff;
    font-size: 20px;
}

.time-text {
    color: #ffffff;
    font-size: 15px;
}
.img-box{
    height: 450px;
    border-bottom: 1px solid #ffffff;
}
.icon-box{
    height: 60px;
}
.btnSize{
    width: 45px;
}
.like{
    height: 25px;
}
.like-text{
    color: #ffffff;
    font-size: 15px;
}
.title{
    height: 30px;
}
.title-text{
    color: #ffffff;
    font-size: 20px;
}