
.social {
    flex-grow: 1;
    height: 849px;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 20px;

}

.posting {
    width: 500px;
    background-color: black;
    border-radius: 15px;

    margin-bottom: 40px;
    flex-shrink: 0;
}

.posting > .post-header {
    height: 70px;
}

.id-text {
    color: #ffffff;
    font-size: 20px;
}

.time-text {
    color: #ffffff;
    font-size: 15px;
}
.img-box{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.icon-box{
    height: 60px;
}
.btnSize{
    width: 45px;
}
.like-btn{
    width: 50px;
}
.like{
    height: 25px;
}
.like-text{
    color: #ffffff;
    font-size: 15px;
}
.title{
    height: 30px;
}
.title-text{
    color: #ffffff;
    font-size: 20px;
}
.comment-text{
    font-size: 15px;
    color: #ffffff;

}
