<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <section class="d-flex p-0">

            <div class="col-3 photo-stack">
                <img src="/img/polaroid1.png" class="photo-card">
                <img src="/img/polaroid2.png" class="photo-card">
                <img src="/img/polaroid3.png" class="photo-card">
                <img src="/img/polaroid4.png" class="photo-card">
                <img src="/img/polaroid5.png" class="photo-card">
            </div>
            <div class="col-3"></div>
            <div class="col-9 d-flex p-0 signup">
                <div class="col-8">
                    <header class="d-flex justify-content-start align-items-center ml-5 mt-4">
                        <img src="/img/logo.png" alt="로고">
                    </header>
                    <div class="signupBox  pl-5 pr-5 ">
                        <div class="d-flex pt-4">
                            <input type="text" class="form-control mt-4 col-9 mr-2" placeholder="아이디">
                            <button type="button" class="btn mt-4 ml-3">중복확인</button>
                        </div>
                        <div class="small text-danger mt-2 ml-2">중복되었습니다.</div>
                        <input type="text" class="form-control mt-2" placeholder="비밀번호">
                        <input type="text" class="form-control mt-3" placeholder="비밀번호 확인">
                        <div class="small text-danger mt-2 ml-2">불일치</div>
                        <input type="text" class="form-control mt-3" placeholder="이름">
                        <input type="text" class="form-control mt-3" placeholder="이메일">
                        <button type="button" class="btn form-control mt-4">Sign up</button>
                        <a href="#" class="d-block mt-3 purple">sign in</a>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>

        </section>
    </div>
</body>
</html>