<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <section class="d-flex p-0">

            <div class="col-3 photo-stack">
                <img src="/img/polaroid1.png" class="photo-card">
                <img src="/img/polaroid2.png" class="photo-card">
                <img src="/img/polaroid3.png" class="photo-card">
                <img src="/img/polaroid4.png" class="photo-card">
                <img src="/img/polaroid5.png" class="photo-card">
            </div>
            <div class="col-3"></div>
            <div class="col-9 d-flex p-0 signup">
                <div class="col-8">
                    <header class="d-flex justify-content-start align-items-center ml-5 mt-4">
                        <img src="/img/logo.png" alt="로고">
                    </header>
                    <div class="signupBox  pl-5 pr-5 ">
                        <div class="d-flex pt-4">
                            <input type="text" class="form-control mt-4 col-9 mr-2" placeholder="아이디" id="idInput">
                            <button type="button" class="btn mt-4 ml-3" id="duplicateBtn">중복확인</button>
                        </div>
                        <div class="small text-danger mt-2 ml-2 d-none" id="idDuplicateText">중복되었습니다.</div>
                        <div class="small text-info mt-2 ml-2 d-none" id="idAvailableText">사용 가능합니다.</div>
                        <input type="password" class="form-control mt-3" placeholder="비밀번호" id="passwordInput">
                        <input type="password" class="form-control mt-3" placeholder="비밀번호 확인" id="passwordConfirmInput">
                        <div class="small text-danger mt-2 ml-2 d-none" id="passwordDuplicateText">불일치합니다</div>
                        <div class="small text-info mt-2 ml-2 d-none" id="passwordAvailableText">일치합니다</div>

                        <input type="text" class="form-control mt-3" placeholder="이름" id="nameInput">
                        <input type="text" class="form-control mt-3" placeholder="이메일" id="emailInput">
                        <button type="button" class="btn form-control mt-4" id="signupBtn">Sign up</button>
                        <a href="#" class="d-block mt-3 purple">sign in</a>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        let isIdAvailable = false;

        $("#passwordInput, #passwordConfirmInput").on("input", function() {
            let password = $("#passwordInput").val();
            let passwordConfirm = $("#passwordConfirmInput").val();

            if(passwordConfirm !== password) {
                $("#passwordDuplicateText").removeClass("d-none");
                $("#passwordAvailableText").addClass("d-none");
            } else{
                $("#passwordAvailableText").removeClass("d-none");
                $("#passwordDuplicateText").addClass("d-none");
            }
        });

        $("#idInput").on("input", function() {
            isIdAvailable = false;
            $("#idDuplicateText").addClass("d-none");
            $("#idAvailableText").addClass("d-none");
        });

        $("#signupBtn").on("click", function (){
           let id = $("#idInput").val();
           let password = $("#passwordInput").val();
           let passwordConfirm = $("#passwordConfirmInput").val();
           let name = $("#nameInput").val();
           let email = $("#emailInput").val();

           if(id == ""){
               alert("아이디를 입력하세요");
               return;
           }
           if(!isIdAvailable){
               alert("중복되었습니다");
               return;
           }

           if(password == ""){
               alert("비밀번호를 입력하세요");
               return;
           }
           if(passwordConfirm != password){
               alert("비밀번호가 일치하지 않습니다.");
               return;
           }
           if(name == ""){
               alert("이름을 입력하세요");
               return;
           }
           if(email == ""){
               alert("이메일을 입력하세요");
               return;
           }
           $.ajax({
              type:"post"
               , url:"/user/signup-process"
               , data: {"signinId": id,"password":password,"name":name,"email":email}
               ,success: function (response) {
                  if(response.result =="success"){
                      location.href = "/user/signin";
                  }else {
                      alert("회원가입 실패");
                  }
               }
               , error: function (){
                  alert("회원가입 에러!");
               }
           });
        });
        $("#duplicateBtn").on("click", function (){
            let id = $("#idInput").val();

            if(id == ""){
                alert("아이디를 입력하세요");
                return;
            }
            $.ajax({
                type: "get"
                , url: "/user/duplicate-id"
                ,data: {"signinId":id}
                ,success: function (response) {
                    if(response.isDuplicate){
                        $("#idDuplicateText").removeClass("d-none");
                        $("#idAvailableText").addClass("d-none");
                        isIdAvailable = false;
                    }else {
                        $("#idAvailableText").removeClass("d-none");
                        $("#idDuplicateText").addClass("d-none");
                        isIdAvailable = true;
                    }
                }
                , error: function (){
                    alert("중복확인 에러!");
                }
            });
        });


    </script>
</body>
</html>